.array-container {
  /* position: absolute; */
  left: 100px;
  /* top: 100px; */
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 100px 1px;
}

.sorting-container {
  width: auto;
  height: auto;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}
.generator-container {
  width: auto;
  height: auto;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}
.button-container button {
  margin-left: 20px;
}
